.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 30px;

}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  transition: transform 100ms ease-in-out;
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  max-width: 100%;
}

.post-content {
  padding: 10px;
}

.post-content h1 {
  padding-bottom: 30px;
}

.button-container {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
}

.button {
  width: 100%;
  background: darkblue;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}